# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# VS Code
.vscode/

# Logs
*.log

# Spyder
.spyproject/

# Dataset files if you want to keep repo small
# dataset/